* {
    box-sizing: border-box;
}

.mainPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-gap: 30px;
    max-width: 1086px;
    margin: 0 auto;
    font-size: 16px;
    background-color: #aaa;
}

.mainPage > * {
    grid-column: 1 / -1;
}

.header {
    position: relative;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.navigationLink {
    margin: 1rem 0 1rem auto;
}

.pageHero {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.pageRubric {
    position: absolute;
    top: 205px;
    left: 50px;
    color: #fff;
}

.pageTitle {
    position: absolute;
    top: 250px;
    left: 50px;
    color: #fff;
}

.pageText {
    position: absolute;
    top: 315px;
    left: 50px;
    max-width: 40%;
    color: #fff;
}

.pageLinkMore {
    position: absolute;
    top: 395px;
    left: 50px;
    color: #fff;
}

.navigationsRubric {
    display: flex;
    justify-content: flex-start;
}

.rubricLink {
    flex: 22%;
    padding: 1rem;
    margin: 0 1rem;
}

.card {
    grid-column: span 1;
    position: relative;
    min-height: 420px;
    padding: 0 35px 70px;
    border-radius: 4px;    
}

.cardWideWithoutImg {
    grid-column: span 2;
    padding: 110px 290px 70px 35px;
    background: url("/image/chinaMan.png") no-repeat 100% 50%;
}

.cardNarrowWithoutImg {
    padding: 30px 35px 70px;
    text-align: center;
}

.cardNarrowBackgroundImg {
    padding: 180px 35px 70px;
    background-image: url("/image/homeInJungle.jpg");
}

.cardImage {
    margin: 0 -35px;
}

.cardRubric {     
    top: 30px;
    left: 35px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background-color: coral;
}

.pa {
    position: absolute;   
}

.cardFooterLink {
    position: absolute;    
    bottom: 15px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: 1px solid #222;
}

.cardFooterLink-more { 
    left: 35px;   
    width: 140px;    
    border-radius: 15px;    
}

.cardFooterLink-comment {
    left: 190px; 
    width: 75px;    
    border-radius: 15px;
}

.cardFooterLink-like {
    left: 280px;
    width: 35px;
    border-radius: 50%;
}

.cardNewest {
    grid-column: span 2;
}