.columnNav {
  margin: 1rem 0 0;
}

.columns {
  column-count: 2;
}

.columnMain {
  width: 150%;
  margin: 1rem 0;
  break-inside: avoid;
  break-after: column;
}

.columnAside {
  width: 50%;
  transform: translateX(100%);
  margin: 1rem 0 0;
  break-inside: avoid;
}
