

.flexboxes {
  display: flex;
  flex-flow: wrap;
}

.flexboxesHeader {
  flex: 100%;
}

.flexboxesNav {
  flex: 100%;
  margin: 1rem 0;
}

.flexboxesMain {
  flex: 70%;
  margin-right:  1rem;
}

.flexboxesAside {
  flex: 0 26%; 
}

.flexboxesFooter {
  flex: 100%;
  margin: 1rem 0 0;
}