/* Layout */

:root {
  --pageWidth: 1170px;
  --pageGap: calc(( 100% - var(--pageWidth)) / 2);
}

// sass-lint:disable no-vendor-prefixes

html {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: 100%;
}

// sass-lint:enable no-vendor-prefixes

body {
  position: relative;
  margin: 0;
  background: $background; 
}



/* Phone Layout */

@import '_layout-phone';



/* Print Layout */

@import '_layout-print';
