<footer class="pageFooter">
  <section>
    about us
    <p>
      Lorem ipsum dolor sit amet, consectetitecto beatae vitae dicta sunt
      explicabo. magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
      porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
      adipisci velit, sed quia non numquam eius modi tempuaerat voluptatem.
    </p>
  </section>
  <section>
    quick links
    <ul>
      <li><a href="#1">home</a></li>
      <li><a href="#1">services</a></li>
      <li><a href="#1">portfolio</a></li>
      <li><a href="#1">pricing</a></li>
      <li><a href="#1">contact us</a></li>
      <li><a href="#1">development</a></li>
      <li><a href="#1">photography</a></li>
      <li><a href="#1">design</a></li>
      <li><a href="#1">manipulation</a></li>
    </ul>
  </section>
  <section>
    find us on
    <ul>
        <li><a href="#1"></a></li>
        <li><a href="#1"></a></li>
        <li><a href="#1"></a></li>
        <li><a href="#1"></a></li>
    </ul>
    <form action="#">
        <legend>subscribe our newsletter</legend>
        <input type="email" name="email" id="footerEmail">
        <label for="footerEmail"></label>
        <button type="submit">subscribe</button>
    </form>
  </section>
  <a href="#1">A Design By MD. Zillur Rahman Sama</a>
</footer>
