<header class="pageHeader">
  <a href="#1" class="logo">foi<span class="logoPart">nni</span></a>
  <nav class="navigation">
    <ul class="navigationLinks">
      <li><a href="#1" class="navigationLink">home</a></li>
      <li><a href="#1" class="navigationLink">service</a></li>
      <li><a href="#1" class="navigationLink">pricing</a></li>
      <li><a href="#1" class="navigationLink">portfolio</a></li>
      <li><a href="#1" class="navigationLink">contact us</a></li>
    </ul>
  </nav>
  <div class="pageHero">
    <h1 class="pageTitle">
      we love <span class="pageTitlePart">foinni</span> polapain
    </h1>
    <p class="pageHeroText">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis n
    </p>
  </div>
</header>
