<h2 class="mainTitle">welcome to <span class="mainTitlePart">foinni</span></h2>
<p class="mainDefinition">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud
</p>
<ul class="serviceList">
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">development</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">responsive</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">clean design</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">graphic design</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">photography</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
  <li class="serviseListItem">
    <a href="#1" class="serviseListLink">
      <h3 class="serviceItemTitle">photo editing</h3>
      <p class="serviceItemText">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sevdent, sunt
        explicabo. Nemo enim ipsam voluptatem quia
      </p>
    </a>
  </li>
</ul>
